body {
    font-family: "Montserrat";
    font-size: 0.85rem;
}

.navbar-brand {
    margin: 0;
}

.navbar-header img.logo-right {
    max-height: 40px;
}

.navbar-header img.logo-left {
    max-height: 60px;
}

.navbar {
    background-color: #f7f7f7;
}

.navbar-static-top {
    margin-bottom: 0px;
}

.navbar-static-top .container {
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.navbar-static-top .container .navbar-right {
    margin-left: auto !important;
}

.navbar.navbar-menu {
    background-color: #4570b4;
    color: #fff;
}

.navbar-nav .dropdown-menu {
    background-color: #4570b4;
    /*color: #fff;*/
}

.navbar.navbar-menu .nav-item {
    text-transform: uppercase;
    margin-right: 20px;
}

.navbar.navbar-menu .nav-item a {
    color: #fff;
    font-size: 0.75rem;
    border-radius: 2px;
}

.navbar.navbar-menu .nav-item a:hover {
    background-color: #efefef;
    color: #4570b4;
    font-weight: 700;
}

.navbar.navbar-menu .nav-item .active {
    background: whitesmoke;
    color: #4570b4 !important;
}

.dropdown-menu {
    background: #4570b4;
    padding: 2px;
}

h4 {
    text-transform: uppercase;
}

footer {
    background-color: #4570b4;
    color: #fff;
}

.table-responsive {
    display: table;
}
.producto-imagen img {
    max-height: 50px;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Buscar";
}

label.required {
    background-image:url(../img/required-field-asterisc.png);
    background-size: 7px;
    background-position:top right;
    background-repeat:no-repeat;
    padding-right:10px;
}

.btn-primary {
    color: #fff;
    background-color: #4570b4;
    border-color: #4570b4;
}
.btn-primary:hover {
    background-color: #4570b4;
    border-color: #4570b4;
    opacity: 0.8;
}

.form-control {
    font-size: 0.85rem;
}
.btn {
    font-size: 0.85rem;
    border-radius: 2px;
}

.help-block {
    color: red;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.03);
}

@media screen and (max-width: 480px) {
    .navbar-header {
        margin: 0 auto;
    }
}

#loading {
    display: none;
    background: url(../img/lsb-loading.gif) no-repeat center center;
    background-size: 100px 100px;
    background-color:rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}

/* Estilos originales de Petkopara Bundle */
.filters-right {
    float: right;
}
.likepaginator {
    margin: 18px 0;
    float: right;
}
.float-left {
    float: left;
    margin: 5px;
}
.form-errors {
    padding: 5px;
}
.form-errors > ul {
    list-style: none;
}
form.well ul li {
    border-radius: 3px 3px 3px 3px;
    padding: 1px 4px 2px;
    color: #FFFFFF;
    background-color: #B94A48;
}

/* FIN Estilos originales de Petkopara Bundle */